.SectionSubtitle {
  font-family: "Merriweather", 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
  text-align: left;

  }

  @media (max-width: 1080px) {
    .SectionSubtitle {
      margin: 0 0 30px;

      font-size: 36px;
      line-height: 48px;
    }
  }

  @media (max-width: 480px) {
    .SectionSubtitle {
      margin: 0 0 20px;
      font-size: 28px;
      line-height: 38px;
      text-align: center;
    }
  }