.SectionTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
  text-align: left;
  margin: 0 0 40px;
}

@media (max-width: 480px) {
  .SectionTitle {

    text-align: center;
  }
}
