.Button {
  outline: none;
  border: none;
  width: 270px;
  height: 60px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
  background: #005fa3;
  cursor: pointer;
  transition-duration: 0.6s;

  &:hover {
    background: #004f86;
  }
}

@media (max-width: 480px) {
  .Button {
    width: 200px;
    height: 45px;
    font-size: 16px;
  }
}
