.Hero {
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url(../../images/backpic.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    max-width: 58.125%;
    width: 100%;
    padding: 170px 0 115px;
    box-sizing: border-box;
  }

  &__title {
    max-width: 590px;
    margin: 0 0 80px;
    font-family: "Merriweather", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    text-align: left;
    color: #ffffff;
  }
}

@media (max-width: 1600px) {
  .Hero {
    &__content {
      max-width: 70%;
    }
  }
}

@media (max-width: 1080px) {
  .Hero {
    &__content {
      max-width: 90%;
      width: 100%;
      padding: 120px 0 90px;
    }

    &__title {
      max-width: 590px;
      margin: 0 0 60px;

      font-size: 36px;
      line-height: 48px;
    }
  }
}

@media (max-width: 480px) {
  .Hero {
    &__title {
      max-width: 590px;
      margin: 0 0 60px;
      font-family: "Merriweather", "Times New Roman", Times, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      text-align: center;
      color: #ffffff;
    }
  }
}
