.Clients {

  display: flex;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 58.125%;
    width: 100%;
    padding: 100px 0 100px;
    box-sizing: border-box;
  }
}

@media (max-width: 1600px) {
  .Clients {
    &__content {
      max-width: 70%;
    }
  }
}

@media (max-width: 1080px) {
  .Clients {
    &__content {
      max-width: 90%;
      width: 100%;
      padding: 60px 0 60px;
    }
  }
}
