.ServiceGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 350px));
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1920px) {
  .ServiceGrid {
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .ServiceGrid {
    grid-template-columns: repeat(2, minmax(300px, 350px));

  }
}

@media (max-width: 720px) {
  .ServiceGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap:10px;
  }
}

@media (max-width: 480px) {
  .ServiceGrid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
