.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 58.125%;
    width: 100%;
    padding: 22px 0 31px;
    box-sizing: border-box;
  }

  &__contacts {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 22px;
  }

  &__contacts-item {
    margin-right: 40px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    margin-right: 68px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__contacts-link {
    display: flex;
    align-items: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
    color: #000000;
    transition-duration: 0.6s;

    &:hover {
      color: #9c9c9c;
    }
  }

  &__nav-ico {
    margin-right: 15px;
  }
  &__menu-link {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    transition-duration: 0.6s;

    &:hover {
      color: #9c9c9c;
    }
  }
}

@media (max-width: 1600px) {
  .Header {
    &__content {
      max-width: 70%;
    }
  }
}

@media (max-width: 1400px) {
  .Header {
    &__content {
      max-width: 90%;
    }
  }
}

@media (max-width: 1080px) {
  .Header {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__contacts-item {
      margin-right: 20px;
    }

    &__menu-item {
      margin-right: 46px;
    }

    &__nav-ico {
      margin-right: 10px;
    }
  }
}

@media (max-width: 660px) {
  .Header {
    &__contacts {
      display: none;
    }

    &__menu {
      display: none;
    }
  }
}
