.FeedbackSlide {
  margin-bottom: 100px;
  &__content {
    padding: 45px 95px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebebeb;
    color: #000;
  }

  &__text {
    margin: 0 0 58px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 35px;
  }

  &__user {
    display: flex;
    align-items: center;
  }
  &__user-info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin: 0 0 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
  }

  &__caption {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    color: #4f4f4f;
  }
}
