.Footer {
  display: flex;

  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 58.125%;
    width: 100%;
    padding: 50px 0 40px;
    box-sizing: border-box;
  }

  &__copy {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000;
  }

  &__developer {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    text-decoration: none;

    color: #000;
  }
}


@media (max-width: 1600px) {
  .Footer {
    &__content {
      max-width: 70%;
    }
  }
}

@media (max-width: 1080px) {
  .Footer {
    &__content {
      max-width: 90%;

    }


  }
}