
@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src:  url(./vendor/fonts/Lato-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src:  url(./vendor/fonts/Lato-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src:  url(./vendor/fonts/Lato-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src:  url(./vendor/fonts/Lato-Bold.woff2) format('woff2');

}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src:  url(./vendor/fonts/Lato-Black.woff2) format('woff2');

}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src:  url(./vendor/fonts/Merriweather-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-weight: 500;
  src:  url(./vendor/fonts/Merriweather-Black.woff) format('woff');
}



body {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
